<% include ../partials/header %>

<div class="container ptb-125">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="login-heading mb-4 text-center">Create author</h3>
            <form action="/authors" method="post">
                <% if (errors.length > 0) { %>
                <% for(var i = 0; i < errors.length; i++) { %>
                <div class="alert alert-danger mb-15" role="alert">
                    <%= errors[i].msg %>
                </div>
                <% } %>
                <% } %>
                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="First Name" name="first_name" <% if (inputs.length > 0) { %>value="<%=inputs[0].first_name%>"<% } %>required autofocus>
                    <label for="inputUsername">First Name</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Last Name" name="last_name" <% if (inputs.length > 0) { %>value="<%=inputs[0].last_name%>"<% } %>required autofocus>
                    <label for="inputUsername">Last Name</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="inputUsername" class="form-control" placeholder="Age" name="age" <% if (inputs.length > 0) { %>value="<%=inputs[0].age%>"<% } %>required autofocus>
                    <label for="inputUsername">Age</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>